<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Magi</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/spectre.min.css") %>" />
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
  </head>
  <body class="bg-cover">
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= if @current_user do %>
    <script type="text/javascript">
      const tokenMeta = document.querySelector('meta[name="token"]')
        , logoutMeta = document.querySelector('meta[name="log-out"]')
        , homeMeta = document.querySelector('meta[name="home"]')
        , serverMeta = document.querySelector('meta[name="server"]')
        , elmFlags = { token: (tokenMeta.getAttribute('content'))
                     , logout: logoutMeta.getAttribute('content')
                     , home: homeMeta.getAttribute('content')
                     , server: serverMeta.getAttribute('content')
                     }
        , elmApp = Elm.Main.fullscreen(elmFlags);
    </script>
    <%= end %>
  </body>
</html>
