
<%= if info = get_flash(@conn, :success) do %>
  <div class="toast text-left toast-success mt-10 mb-10" style="background: white" onclick="this.style.display = 'none'">
    <i class="fa fa-check" aria-hidden="true" style="margin-right:1rem;"></i><%= info %>
  </div>
<% end %>
<%= if info = get_flash(@conn, :info) do %>
  <div class="toast text-left toast-primary mt-10 mb-10" style="background: white" onclick="this.style.display = 'none'">
    <i class="fa fa-info-circle" aria-hidden="true" style="margin-right:1rem;"></i><%= info %>
  </div>
<% end %>
<%= if error = get_flash(@conn, :error) do %>
    <div class="toast text-left toast-danger mt-10 mb-10" style="background: white" onclick="this.style.display = 'none'">
      <i class="fa fa-exclamation-triangle" aria-hidden="true" style="margin-right:1rem;"></i><%= error %>
    </div>
<% end %>
