<div class="container" style="margin-top: 15vh;">
  <div class="centered empty shadow text-center col-4 col-lg-12">
    <div class="empty-title">
      <h1><i class="fa fa-user-circle-o" aria-hidden="true" style="margin-right:1rem;"></i> Register</h1>
    </div>
    <%= form_for @changeset, registration_path(@conn, :create), fn f -> %>
      <div class="centered bg-white light-shadow orange mt-20 pl-40 pt-40 pr-40 pb-40">
          <%= if f.errors != [] do %>
            <div class="toast text-left toast-danger pt-10 mb-20" style="background: white" onclick="this.style.display = 'none'">
              <%= for {attr, message} <- f.errors do %>
                <div class="mt-10">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true" style="margin-right:1rem;"></i><%= humanize(attr) %> <%= translate_error(message) %>
                </div>
              <% end %>
            </div>
          <% end %>

        <div class="form-group">
          <div class="form-label text-left" for="reg-name">
            Name
          </div>
          <div class="flex col-oneline", id="reg-name">
            <%= text_input f, :first_name, placeholder: "First Name", class: "form-input mr-5", autofocus: ""%>
            <%= text_input f, :last_name, placeholder: "Last Name", class: "form-input ml-5" %>
          </div>
        </div>
        <div class="form-group mt-20">
          <div class="form-label text-left" for="reg-email">
            Email Address
          </div>
          <%= email_input f, :email, placeholder: "@film-45.com", class: "form-input", id: "reg-email" %>
        </div>
        <div class="form-group">
          <div class="form-label text-left mt-20" for="reg-pw">
            Password
          </div>
          <div class="flex col-oneline" id="reg-pw">
            <%= password_input f, :password, placeholder: "Password", class: "form-input mr-5" %>
            <%= password_input f, :password_confirmation, placeholder: "Confirm Password", class: "form-input ml-5" %>
          </div>
        </div>
      </div>

      <hr class="mt-20 mb-20" />

      <div class="columns empty-action">
        <div class="col-6 container">
          <%= submit "Register", class: "btn col-8 col-sm-12 float-right" %>
        </div>
        <div class="col-6 container">
          <%= link "Return to Homepage", to: page_path(@conn, :index), method: :get, class: "btn btn-link float-left"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
