// Animations
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slide-down {
  0% {
    margin-top: -3rem;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(1.025);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-in-zoom {
  0% {
    opacity: 0;
    transform: scale(.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.slide-down {
  opacity: 0;
  -webkit-animation: slide-down 200ms forwards; /* Safari 4+ */
  -moz-animation:    slide-down 200ms forwards; /* Fx 5+ */
  -o-animation:      slide-down 200ms forwards; /* Opera 12+ */
  animation:         slide-down 200ms forwards; /* IE 10+, Fx 29+ */
}

.fade-in-slow {
  opacity: 0;
  -webkit-animation: fade-in 1s forwards; /* Safari 4+ */
  -moz-animation:    fade-in 1s forwards; /* Fx 5+ */
  -o-animation:      fade-in 1s forwards; /* Opera 12+ */
  animation:         fade-in 1s forwards; /* IE 10+, Fx 29+ */
}

.fade-in {
  opacity: 0;
  -webkit-animation: fade-in 200ms forwards; /* Safari 4+ */
  -moz-animation:    fade-in 200ms forwards; /* Fx 5+ */
  -o-animation:      fade-in 200ms forwards; /* Opera 12+ */
  animation:         fade-in 200ms forwards; /* IE 10+, Fx 29+ */
}

.fade-in-zoom {
  opacity: 0;
  -webkit-animation: fade-in-zoom 60ms forwards; /* Safari 4+ */
  -moz-animation:    fade-in-zoom 60ms forwards; /* Fx 5+ */
  -o-animation:      fade-in-zoom 60ms forwards; /* Opera 12+ */
  animation:         fade-in-zoom 60ms forwards; /* IE 10+, Fx 29+ */
}

.delay-animation(@items, @delay) {
  .loopingClass(0); // Start loop

  .loopingClass(@index) when (@index <= @items) {
    &:nth-child(@{index}) {
        animation-delay: unit(((@index - 1) * @delay),ms);
    }

    .loopingClass(@index + 1); // Increment loop
  }
}

.table-animated tr{
  .delay-animation(20, 10)
}

.scale-in-top-left {
  -webkit-animation: scale-in-top-left 200ms ease; /* Safari 4+ */
  -moz-animation:    scale-in-top-left 200ms ease; /* Fx 5+ */
  -o-animation:      scale-in-top-left 200ms ease; /* Opera 12+ */
  animation:         scale-in-top-left 200ms ease; /* IE 10+, Fx 29+ */
}

@keyframes scale-in-top-left {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(0%, 0%) scale(1);
  }
}
