// Buttons
.btn, button, [type=submit]{
  -webkit-user-select:none;
  user-select:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background: @core-meta-color;
  border: 0;
  border-radius:.3rem;
  color: @core-light-color;
  cursor: pointer;
  //display: inline-block;
  line-height: 1.6rem;
  outline: 0;
  padding: .7rem 1.5rem;
  text-align: center;
  text-decoration:none!important;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  -webkit-transition:all 60ms ease-in-out;
  transition:all 60ms ease-in-out;

  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  // position: relative;
  // overflow: hidden;

  &:hover {
    background: @core-secondary-color;
  }

  &:active,
  &.active {
    -webkit-transition:all 60ms ease;
    transition:all 60ms ease;
    -webkit-transform:scale(.97);
    transform:scale(.97);
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed!important;
  }

  &:before {
    border-radius:.3rem;
    border:0;
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(100%);
    transform: scale(100%);
    -webkit-transition-property: border;
    transition-property: border;
    -webkit-transition-duration: 60ms;
    transition-duration: 60ms;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
  }

  &:focus:before, &:active:before {
    border: .3rem solid @core-secondary-color;
  }

  // Button Primary
  &.btn-primary {
    color: @core-light-color;
    background: darken(@core-info-color, 0%);

    &:hover {
      background: @core-secondary-color;
    }

    &.loading {
      &::after {
        border-color: @core-light-color;
        border-right-color: transparent;
        border-top-color: transparent;
      }
    }
  }

  // Button Link
  &.btn-link {
    background: transparent;
    border-color: transparent;
    color: darken(@core-link-color, 5%);
    overflow: visible;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;

    &:hover{
      color: darken(@core-link-color, 15%);
    }
    &:active,
    &.active {
      color: darken(@core-link-color, 25%);
      -webkit-transform:scale(0.99) translateY(0.15rem);
      transform:scale(0.99) translateY(0.15rem);
    }

    // &:before {
    //   &:extend(.btn:before);
    // }
    &:focus:before{
      border-top-width: 0;
      border-left-width: 0;
      border-bottom-width: 0.3rem;
      border-right-width: 0rem;
      -webkit-transition:all 60ms ease;
      transition:all 60ms ease;
      -webkit-transform:scale(1);
      transform:scale(1);
    }

    &:active:before {
      border-bottom-width: 0;
      border-right-width: 0.3rem;
      border-top-width: 0.45rem;
      border-left-width: 0.3rem;
      -webkit-transition:all 60ms ease;
      transition:all 60ms ease;
      -webkit-transform:scale((1 / .99)) translateY(-0.15rem);
      transform:scale((1 / .99)) translateY(-0.15rem);
    }
  }

  // Button Small
  &.btn-sm {
    border-radius: .2rem;
    font-size: 1.2rem;
    height: 2.4rem;
    line-height: 1.4rem;
    padding: .4rem 1rem;
  }

  // Button Large
  &.btn-lg {
    border-radius: .4rem;
    font-size: 1.8rem;
    height: 4.2rem;
    line-height: 2rem;
    padding: 1rem 1.8rem;
  }

  // Button Block
  &.btn-block {
    display: block;
    width: 100%;
  }

  // Button Clear
  &.btn-clear {
    background: transparent;
    border: 0;
    color: #666;
    height: 2rem;
    margin-left: .3rem;
    opacity: .45;
    padding: 0;

    &:hover {
      opacity: .85;
    }

    &:active:before,
    &:focus:before{
      border: 0;
    }

    &::before {
      content: '\00d7';
      font-size: 2rem;

      position: relative;
    }
  }
}

// Button groups
.btn-group {
  display: inline-flex;
  flex-wrap: wrap;

  .btn {
    flex: 1 0 auto;

    &:first-child:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
      margin-left: -.1rem;
    }
    &:last-child:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      margin-left: -.1rem;
    }
    &:hover,
    &:focus {
      z-index: 99;
    }
  }

  &.btn-group-block {
    display: flex;
  }
}
