// Dropdown
.dropdown {
  position: relative;

  .menu {
    display: none;
    opacity: 0;
    left: 0;
    position: absolute;
    top: 100%;
    white-space: nowrap;
  }

  &.active .menu,
  .dropdown-toggle:focus + .menu,
  .menu:hover {
    display: block;
    opacity: 1;
  }
}
