// Position
.clearfix {
  .clearfix();
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}

.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fixed {
  position: fixed;
}
.centered {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.mt-40 {
  margin-top: 4rem;
}
.mr-40 {
  margin-right: 4rem;
}
.mb-40 {
  margin-bottom: 4rem;
}
.ml-40 {
  margin-left: 4rem;
}
.mt-20 {
  margin-top: 2rem;
}
.mr-20 {
  margin-right: 2rem;
}
.mb-20 {
  margin-bottom: 2rem;
}
.ml-20 {
  margin-left: 2rem;
}
.mt-10 {
  margin-top: 1rem;
}
.mr-10 {
  margin-right: 1rem;
}
.mb-10 {
  margin-bottom: 1rem;
}
.ml-10 {
  margin-left: 1rem;
}
.mt-5 {
  margin-top: .5rem;
}
.mr-5 {
  margin-right: .5rem;
}
.mb-5 {
  margin-bottom: .5rem;
}
.ml-5 {
  margin-left: .5rem;
}

.pt-40 {
  padding-top: 4rem;
}
.pr-40 {
  padding-right: 4rem;
}
.pb-40 {
  padding-bottom: 4rem;
}
.pl-40 {
  padding-left: 4rem;
}
.pt-20 {
  padding-top: 2rem;
}
.pr-20 {
  padding-right: 2rem;
}
.pb-20 {
  padding-bottom: 2rem;
}
.pl-20 {
  padding-left: 2rem;
}
.pt-10 {
  padding-top: 1rem;
}
.pr-10 {
  padding-right: 1rem;
}
.pb-10 {
  padding-bottom: 1rem;
}
.pl-10 {
  padding-left: 1rem;
}
.pt-5 {
  padding-top: .5rem;
}
.pr-5 {
  padding-right: .5rem;
}
.pb-5 {
  padding-bottom: .5rem;
}
.pl-5 {
  padding-left: .5rem;
}

// Display
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.hide {
  display: none !important;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  background: transparent;
  border: 0;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}
// Text
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}

.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}

.text-normal {
  font-weight: normal;
}
.text-bold {
  font-weight: bold;
}
.text-italic {
  font-style: italic;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-clip {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}
.text-break {
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
}
.hand {
  cursor: pointer;
}

// Shadow
.shadow {
box-shadow: 0 0.4rem 1.8rem 0 rgba(0, 0, 0, 0.15), 0 1.6rem 5rem 0 rgba(0, 0, 0, 0.15);
}
.light-shadow {
box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.075), 0 1rem 1.5rem 0 rgba(0, 0, 0, 0.075);
}
.no-shadow {
box-shadow: none;
}

// Shapes
.rounded {
  border-radius: .3rem;
}
.circle {
  border-radius: 50%;
}
// Divider
.divider {
  border-bottom: .1rem solid @core-border-color;
  display: block;
  margin: .5rem;
}

// Loading
.loading {
  color: transparent !important;
  min-height: 1.6rem;
  pointer-events: none;
  position: relative;

  &::after {
    animation: loading 500ms infinite linear;
    border: .2rem solid @core-color;
    border-radius: .8rem;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1.6rem;
    left: 50%;
    margin-left: -.8rem;
    margin-top: -.8rem;
    position: absolute;
    top: 50%;
    width: 1.6rem;
  }
}
