// Core variables
// Global
@html-font-size: 10px;
@html-line-height: 1.428571429;
@body-bg: #fff;
@body-font-color: #333;
@body-font-size: 1.4rem;
@body-font-family: "Rubik", "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Hiragino Kaku Gothic Pro", Meiryo, "Malgun Gothic", sans-serif;

// Sizes
@layout-gutter: 1rem;
@layout-padding: 1rem;
@layout-padding-lg: 1.5rem;
@control-min-width: 18rem;
@border-radius: .2rem;
@border-width: .1rem;

// Colors
// @core-color: #5764c6;
//@core-color: #F45;
//@core-secondary-color: lighten(@core-color, 40%);
@core-light-color: #EEE;
//@core-meta-color: #555;
//@core-link-color: #5764c6;
//@core-link-color: spin(@core-color, 180);
@core-border-color: #DDD;
//@core-empty-bg: #f8f8f8;
// @control-color: #c5c5c5;
// @control-color-success: #32b643;
// @control-color-info: #0193eb;
// @control-color-warning: #ffb700;
// @control-color-danger: @core-color;

@core-color: spin(#F45, 0);
@core-link-color: @core-secondary-color;
@core-empty-bg: #F0F0F0;
@core-secondary-color: spin(#FFF-@core-color, 20);
@core-success-color: spin(@core-secondary-color, -60);
@core-info-color: darken(spin(@core-color, 33), 15%);
@core-meta-color: darken(greyscale(@core-secondary-color), 5%);


@control-color: lighten(@core-meta-color, 33);
@control-color-success: @core-success-color;
@control-color-info: @core-secondary-color;
@control-color-warning: @core-info-color;
@control-color-danger: @core-color;


// Responsive breakpoints
@size-xs: 480px;
@size-sm: 600px;
@size-md: 840px;
@size-lg: 960px;
@size-xl: 1280px;

// Mixins
.clearfix() {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}
.toast-variant(@color) {
  color: @color;
  border-color: darken(@color, 2%);
  background-color: transparent;

  a {
    color: @core-light-color;

    &:hover,
    &:focus,
    &:active {
      opacity: .75;
    }
  }
}
.label-base() {
  border-radius: .2rem;
  display: inline;
  font-size: 1em;
  padding: .1em .3em;
  vertical-align: baseline;
}
.label-variant(@color) {
  background: @color;
  color: @core-light-color;
}


.bg-core {
  background: @core-color;
}

.bg-secondary {
  background: @core-secondary-color;
}

.bg-info {
  background: @core-info-color;
}

.bg-success {
  background: @core-success-color;
}

.bg-meta {
  background: @core-meta-color
}

// Z-index
@zindex-0: 1;
@zindex-1: 100;
@zindex-2: 200;
@zindex-3: 300;
@zindex-4: 400;
