
<div class="container" style="margin-top: 15vh;">
  <div class="centered empty shadow text-center col-8 col-lg-12">
    <h1>Request new password</h1>
    <%= render Nimbus2000.LayoutView, "flash.html", assigns %>
    <!-- <%= form_for @conn, password_path(@conn, :reset), [as: :user], fn f -> %>
      <div class="form-group">
        <%= text_input f, :email, placeholder: "email", class: "form-input mt-10 mb-20" %>
      </div>
      <%= submit "Reset Password", class: "btn btn-primary" %>
    <% end %> -->

    <%= link "Return to Homepage", to: page_path(@conn, :index), method: :get, class: "btn btn-primary mt-20"%>
  </div>
</div>
