<div class="container" style="margin-top: 15vh;">
  <div class="centered empty shadow text-center col-4 col-lg-12">
    <div class="empty-title">
      <h1><i class="fa fa-unlock-alt" aria-hidden="true" style="margin-right:1rem;"></i> Login</h1>
    </div>
    <%= render Nimbus2000.LayoutView, "flash.html", conn: @conn %>
    <%= form_for @conn, session_path(@conn, :create), [as: :session], fn f -> %>
      <div class="centered bg-white light-shadow orange mt-20 pl-40 pt-40 pr-40 pb-40">
        <div class="form-group">
          <div class="form-label text-left" for="login-email">
            Email Address
          </div>
          <%= if value = get_flash(@conn, :value) do %>
            <%= text_input f, :email, placeholder: "@film-45.com", class: "form-input", id: "login-email", value: value %>
          <% else %>
            <%= text_input f, :email, placeholder: "@film-45.com", class: "form-input", id: "login-email", autofocus: "" %>
          <% end %>
        </div>
        <div class="form-group">
          <div class="form-label text-left" for="login-pw">
            Password
          </div>
          <%= if value = get_flash(@conn, :value) do %>
            <%= password_input f, :password, placeholder: "Password", class: "form-input input", id: "login-pw", autofocus: "" %>
          <% else %>
            <%= password_input f, :password, placeholder: "Password", class: "form-input input", id: "login-pw" %>
          <% end %>
            <%= link "Forgot Password?", to: password_path(@conn, :new), method: :get, class: "btn btn-link float-right" %>
        </div>
      </div>

      <hr class="mt-20 mb-20" />

      <div class="columns empty-action clearfix" style="clear:both;">
        <div class="col-6 container">
          <%= submit "Log in", class: "btn col-8 col-sm-12 float-right" %>
        </div>
        <div class="col-6 container">
          <%= link "Return to Homepage", to: page_path(@conn, :index), method: :get, class: "btn btn-link float-left"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
