/* This file is for your main application css. */

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg-cover{
  background: url('https://source.unsplash.com/category/people/') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Abel", sans-serif;
}

@font-face{
  font-family: "Nexa";
  src: url('/fonts/Nexa Light.otf') format("opentype");
}

@font-face{
  font-family: "Nexa";
  font-weight: bold;
  src: url('/fonts/Nexa Bold.otf') format("opentype");
}

.logo {
  font-family: 'Nexa', 'Helvetica', sans-serif;
  /*border-top: .1rem solid #000;*/
  /*border-bottom: .1rem solid #000;*/
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

a {
  cursor:pointer;
}

.bg-white-50 {
  background-color: RGBA(255,255,255,0.5)
}

.click-overflow-check {
  display: none;
}

.click-overflow-check + .click-overflow-label {
  width: 100%;
  height: 3rem;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  color:#001F3F;
  border-left: 0.3rem solid #DDD;
  border-radius: 0;
  padding-left: 0.3rem;
  -webkit-transition:border 60ms ease-in-out;
  -moz-transition:border 60ms ease-in-out;
  -o-transition:border 60ms ease-in-out;
  transition:border 60ms ease-in-out;
}

.click-overflow-check:checked + .click-overflow-label {
  height: 100%;
  white-space: pre-wrap;
  background: white;
}

.click-overflow-label:hover {
  border-left: 0.3rem solid #FF851B;
  border-radius: 0.3rem;
  box-shadow: 0rem 0 0rem .1rem #FF851B inset;
}

.click-reveal-show + .click-reveal {
  display: none;
}


td {
  white-space: nowrap;
}

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.sticky-spaced {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 3.2rem;
}

.outline {
  box-shadow: 0.25rem 0px 0px 0rem #FF4136 inset;
  border: 0px;
  /*border-left: 1rem solid #FF4136*/
}

.vertical-align-text{
  display: inline-flex;
  align-items: center;
  text-align: center;
}

@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   /*src: url(/fonts/MaterialIcons-Regular.eot); For IE6-8*/
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url('/fonts/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2') format('woff2'),
        /*url(/fonts/MaterialIcons-Regular.woff) format('woff'),
        url(/fonts/MaterialIcons-Regular.ttf) format('truetype');*/
}

/*@font-face{
  font-family: "Material Icons";
  src: url('/fonts/Nexa Light.otf') format("opentype");
}*/
.material-icons {
  font-family: 'Material Icons';
  line-height: inherit;
}

/* Stolen from Wing */
/*.btn,[type=submit],button{
  overflow:hidden;
  padding:12px;
  cursor:pointer;
  -webkit-user-select:none;
  user-select:none;
  -webkit-transition:all 60ms ease-in-out;
  transition:all 60ms ease-in-out;
  text-align:center;
  white-space:nowrap;
  text-decoration:none!important;
  border:0;
  border-radius:4px;
  font-family:inherit;
  font-weight:500;line-height:1.3;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none
}
.btn:hover,[type=submit]:hover,button:hover{
  -webkit-transition:all 60ms ease;
    transition:all 60ms ease;
    opacity:.85
}
.btn:active,[type=submit]:active,button:active{
  -webkit-transition:all 60ms ease;
  transition:all 60ms ease;
  -webkit-transform:scale(.97);
  transform:scale(.97);
  opacity:.75
}
.btn:focus,[type=submit]:focus,button:focus{
  outline:0
}
.btn:disabled,[type=submit]:disabled,button:disabled{
  opacity:.8;
  cursor:not-allowed
}
.btn-clear{
  background:0 0;
}*/

/*base form styles*/
/*input[type=text], input[type=password], input[type=email], input[type=search], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-family: 'Open Sans';
}*/

/*styling textarea*/
/*textarea, textarea[type=text] {
    font-family: 'Open Sans';
    width: 100%;
    height: 100px;
    margin: 8px 0;
    padding: 14px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}*/

/*set border on focus*/
/*input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=search]:focus, textarea:focus, textarea[type=text]:focus {
    border: 1px solid #99b3ff;
    border-radius: 4px;
}*/


/*ANIMATE EVERYTHINGGGGGGG*/
*{
  -webkit-transition:all 60ms ease-in-out;
  -moz-transition:all 60ms ease-in-out;
  -o-transition:all 60ms ease-in-out;
  transition:all 60ms ease-in-out;
}

.credit-block{
  font-family: monospace;
  white-space: nowrap;
  font-size: 1rem;
}

.hide-scrollers::-webkit-scrollbar{
  display:none;
}

body::-webkit-scrollbar{
  display: none;
}

.flex-wrapper{
  display: inline-flex;
  height: 100%;
  flex-direction: column;
}

.flex-fill{
  flex: 1 1 auto;
  overflow-y: hidden;
  height: 0px;
}

.fill-height {
  height: 100%;
}

.flex-inner{
  display: flex;
  min-height: min-content
}

.flex-off{
  flex:none;
}

.avatar-img-alt:before {
  content: " ";
  display: block;

  position: absolute;
  border-radius: 99999999px;
  background-color: inherit;
}

.avatar-img-alt:after {
  content: attr(alt);
  display: block;

  position: absolute;
  text-align: center;
}

.blinker{
font-size: 1rem;
  display: inline;
  animation: blink 1s steps(1) infinite;
}
@keyframes blink{
  0% {opacity: 1;
    transform: translateX(0.5rem);
  }
  50%{ opacity: 0;
    transform: translateX(0.5rem);
  }
  100% { opacity: 0;
    transform: translateX(0.5rem);
  }
}

.revert {
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
}
