<div class="centered empty shadow text-center col-8 col-lg-10 mt-40">
  <div class="empty-title">
    <h4 class="red"> <i class="fa fa-exclamation-triangle mr-5"></i>  404</h4>
  </div>
  <hr/>
  <p class="empty-meta">
    We couldn't find the page you were looking for :(
    <br/>
    <br/>
  </p>
</div>
