<%= if @current_user do %>

  <div class="ml-10 mr-10">
  <%= render Nimbus2000.LayoutView, "flash.html", conn: @conn %>
  </div>
  <%= tag :meta, name: "token", content: Phoenix.Token.sign(@conn, "nimbus2000TokenSalt", @current_user.id) %>
  <%= tag :meta, name: "log-out", content: session_path(@conn, :delete) %>
  <%= tag :meta, name: "home", content: page_path(@conn, :index) %>
  <%= if Mix.env == :dev do %>
    <%= tag :meta, name: "server", content: ("WSS://" <> @conn.host() <> ":" <> (to_string @conn.port()) <> "/socket/websocket") %>
  <%= else %>
    <%= tag :meta, name: "server", content: "WSS://" <> @conn.host() <> ":443/socket/websocket" %>
  <%= end %>
<% else %>
  <%= render Nimbus2000.LayoutView, "flash.html", conn: @conn %>
  <div class="container" style="margin-top: 15vh;">
    <div class="centered empty shadow text-center col-8 col-lg-12 slide-down">
      <div class="empty-title">
        <h1>The Magi</h1>
      </div>
      <hr/>
      <p class="empty-meta">
        The New <b>Drive-Tracker / Media-Finder / Life-Saver</b> of <b  class="logo">FILM <g class="orange">45</g></b>
        <br/>
        <br/>
      </p>
      <div class="columns empty-action">
        <span class="col-6 container">
          <%= button "Login", to: session_path(@conn, :new), method: :get , class: "btn-primary col-4 col-sm-12 float-right"%>
        </span>
        <span class="col-6 container">
          <%= button "Register", to: registration_path(@conn, :new), method: :get, class: "btn btn-link col-4 col-sm-12 float-left"%>
        </span>
      </div>
    </div>
  </div>
<% end %>
